.header {
  color: black
}
.header .header-inner a {
  text-decoration: none;
}
.header .header-inner .MuiAppBar-root{
  background-color: white;
  color: black;
  box-shadow: none;
}
.header .header-inner .MuiToolbar-root{
  display: flex;
  justify-content: space-between;
  padding: 0;
} 
.header .header-inner .logo{
  text-decoration: none;
  background-color: #CACACA;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
}
.header .header-inner .MuiButton-colorInherit{
  font-weight: 500;
}
.header .header-inner  .avatar{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin:0 15px ;
}
.header .header-inner .right-bar{
display: flex;
}
.mobile-menu {
  min-width: 250px
}
  .mobile-menu .MuiButton-text {
  width:100%;
  text-align: start;
  padding: 10px 5px;
  border-bottom: 1px solid rgb(136, 136, 136);
  border-radius: 0;
}
.mobile-menu .avatar{
  display: none;
}
