.home .title {
  font-size: 70px;
}
.home .search-input{
  margin-top: 30px;
}
.home .search-input input{
  height: 34px;
  padding: 10px 0px 10px 0px;
  width: 200px;
}
.home .search-input input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1; 
}
  
.home .search-input input::-ms-input-placeholder { 
  color: rgb(0, 0, 0);
}
  
.home .search-input input::-ms-input-placeholder { 
  color: rgb(0, 0, 0);
}
.home .advanc-btn{
  background-color: black;
  color: white;
  margin-top: 15px;
  padding: 15px 20px;
}
.home .topic-list{
  min-height: 150px;
  max-height: 150px;
  overflow: auto;
  border: 1px solid rgb(175, 175, 175);
  padding: 20px;
  border-radius: 10px;
  margin-top:20px
  }
.home  .intro-viode{
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
  border: 1px solid rgb(175, 175, 175);
  margin-top: 20px;
  border-radius: 40px;
}
.home .row{ 
  align-items: center;
}