.aces-result .MuiSelect-select {
  width: 222px; 
}
.MuiFormControl-root{
  margin-top: 30px!important;
}
.aces-result .MuiInputLabel-root  {
  background: white;
  padding: 0 5px;
}
.aces-user{
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  border-radius: 20px;
  border:1px solid rgb(117, 117, 117);
  padding: 10px;
  background-color: #f1f1f1;
}
.aces-result  .aces-user img{
  width: 70px;
}
.aces-result  .result-info{
display: flex;
align-items: center;
margin-top: 30px;
}
.aces-result  .book{
  margin-left: 20px;
  background: #33A789;
  color: white;
  padding: 2px 5px;
}
.aces-result  .book:hover{
  background: #33A789;
  color: white;
}
.aces-result .btn-primary{
background-color: #414BB2;
color: white;
padding: 10px 20px;
margin-top: 30px;
}
.aces-result .btn-primary:hover{
  background-color: #414BB2;
  color: white;
}
.aces-user .discription{
  text-align: end;
  font-size: 14px; 
}
.aces-result .mob-img{
  width: 60px;
  display: none;
}
@media (min-width:700px){
  .aces-result .MuiFormControl-root{
  margin-left: 52px!important;
}
}
@media (max-width:500px){
  .aces-result .aces-user .aces-user-img{
display: none;
  }
  .aces-result .book {
    margin-left: 8px;
  }
  .aces-user .discription {
    font-size: 12px;
    text-align: unset;
}
.aces-user {
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 5px;
}
.aces-result .mob-img{
  display: block;
}
 .aces-result .MuiFormControl-root , .aces-result .btn-primary{
  width: 100%;
}
.MuiTypography-h2{
  font-size: 25px!important;
}
.aces-result .filter-btn{
    font-size: 10px;
  }
}
.aces-result .mob-profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.aces-result .avatar{
 display: none;
  width: 60px;
  margin-right: 30px;
}
.aces-result .filter-btn{
margin-top: 0!important;
}
@media (max-width:899px){
  .avatar{
    display: block!Important;
  }
  /* .aces-result .filter-btn{
    display: block!important;
  } */
}